body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    padding: 20px;
  }
  h1 {
    text-align: center;
    color: #333;
    margin-bottom: 40px;
  }
  .container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px #ccc;
    margin: 0 auto;
    max-width: 500px;
  }
  input[type='text'] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-sizing: border-box;
  }
  button, input[type="submit"], input[type="reset"]{
    background-color: #00AFFF;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    align-items: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px auto;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    transition: all 0.3s ease 0s;
  }
  
  button:hover, input[type="submit"]:hover, input[type="reset"]:hover {
      background-color: #0078D7;
  }