<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Something Went Wrong</title>
    <style>
      body {
        font-family: "Helvetica Neue", sans-serif;
        background-color: #f2f2f2;
        text-align: center;
        padding-top: 150px;
      }

      h1 {
        font-size: 48px;
        color: #333;
        margin-bottom: 50px;
      }

      p {
        font-size: 24px;
        color: #666;
        margin-bottom: 50px;
      }

      .error-code {
        font-size: 120px;
        color: #1E90FF;
        margin-bottom: 50px;
      }
    </style>
  </head>
  <body>
    <div class="error-code">404</div>
    <h1>Oops! Page Not Found</h1>
    <p>The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.</p>
    <p>Please try our <a href="/game">new game</a> while you wait, or you can return to the <a href="/">home page</a>.
    </p>
  </body>
</html>